.conversation-container .header {
    background-color: #AAADAE;
  }

.conversation-container .title {
  color:#505C62
}

.launcher {
    background-color: #AAADAE;
}

.conversation-container .client {
    background-color: #AAADAE;
    color:#020001
}